version: "3.8"

services:
  nginx-app-demo-aggregation:
    container_name: nginx-app-demo-aggregation
    build:
      dockerfile: ./nginx-app/Dockerfile
    restart: always
    tty: true
    ports:
      - "8002:80"
    env_file:
     - ./.envs/.env_web
    depends_on:
      - demo-aggregation
    volumes:
      - ./frontend:/usr/share/nginx/html/
      - ./nginx-app/default.conf:/etc/nginx/conf.d/default.conf

  demo-aggregation:
    build:
      dockerfile: ./Dockerfile
    container_name: demo-aggregation
    command: ["go", "run", "./app/cmd/main/main.go"]
    env_file:
      - ./.envs/.env
    ports:
      - "8001:8001"
    volumes:
      - .:/app:z
    restart: always

networks:
 default:
   external: true
   name: rpine_dex_bot_shared-web
